@charset "UTF-8";

* {
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(180deg, #50adf8, #2644eb);
}

.menu_assunto span {
    float: left;
    margin-right: 5px;
}

.menu_assunto span:hover {
    transition-duration: 500ms;
    background-color: #e6a928;
    color: #ffffff;
    border-radius: 5px;
    padding: 1px 10px;
}

div > ul {
    display: none;
    list-style: none;
}

div:hover > ul {
    display: inline-block;
    
}

div.vmid > a:nth-child(4) {
    color: #000000;
}

span {
    cursor: pointer;
}

a {
    color: #ffffff;
}

.menu:hover {
    transition-duration: 500ms;
    background-color: #e6a928;
    color: #ffffff;
    border-radius: 5px;
    padding: 1px 10px;
}

.conteudo-principal {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 10px 20px #121d5ebb;
}

p {
    text-align: justify;
}

section {
    color: #000000;
}

.imagem-footer {
    transform: rotate(90deg);
    transition: none;
}


.inpt-pesquisa {
    border-radius: 10px;
    padding: 5px;
    border: none;
}

.btn-pesquisa {
    border-radius: 40px;
    padding: 5px;
    border: none;
    background-color: #ffffff00;
    color: #000000;
    font-family: 'Poppins';
}

.img-pesquisa {
    height: 20px;
}

#btn_footer {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px 10px;
}
